<section>
    <div class="container">
        <form action="/order1" method="post">
        <h2 class="text-center">Order is processing</h2>
        <button class="btn btn-primary" style="position: absolute;left: 50%;transform: translateX(-50%);"
            type="submit" >view details</button>
        </form>
    </div>
</section>