<section>
    <div class="container p-3">
        <form  id="checkout_form" method="post">
            <div class="float-start " style="width: 50%;display: inline-block;">
                <h2> Enter Delivery Details</h2><br>
                <label for="address">Address</label><br>
                <input type="text" name="address" style="width: 100%;"><br>
                <label for="pin">Pincode</label><br>
                <input type="text" name="pin" style="width: 100%;"><br>
                <label for="mobile">Mobile</label><br>
                <input type="text" name="mobile" style="width: 100%;"><br>
                <input type="text" name="userId" value="{{user._id }}" hidden>
            </div>
            <div class="p-5" style="width:auto;display: inline-block;">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Total amount:Rs {{data}}</h5>
                        <hr>
                        <p>Payment method</p>
                        <input type="radio" name="pay" value="COD"><label for="cod">COD</label><br>
                        <input type="radio" name="pay" value="ONLINE"><label for="online">online</label><br>
                        <button class="btn btn-primary float-end" type="submit">Checkout</button>    {{!-- a tag didnt work --}}
                    </div>
                </div>
            </div>
        </form>
    </div> 
</section>

<script>
    $("#checkout_form").submit((e)=>{
    e.preventDefault()
    $.ajax({
        url:'/place_order',
        method:'post',
        data:$("#checkout_form").serialize(),
        success:(response)=>{
            // alert(response)
            console.log(response)
            if(response.codSuccess){
                location.href='/order'
            }else{
                razorPayment(response)
            }
        }
    })
    });

    function razorPayment(order){
        console.log('fn',order)
        var options = {
            "key": "rzp_test_JPdrAvWLBaxHLJ", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Hisham", //your business name
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response){
                alert(response.razorpay_payment_id);
                alert(response.razorpay_order_id);
                alert(response.razorpay_signature);
    
                verifyPayment(response,order)
            },
            "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
                "name": "Gaurav Kumar", //your customer's name
                "email": "gaurav.kumar@example.com", 
                "contact": "9000090000"  //Provide the customer's phone number for better conversion rates 
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        const rzp1 = new Razorpay(options); 
        rzp1.open();
    }
    
     function verifyPayment(payment,order){
        $.ajax({
            url:'/verify_payment',
            data:{
                payment,order
            },
            method:'post'
        })
    }

</script>

